:root.theme-light {
  --bg-image: url("../images/cover-image-light.png");
  --bg-color: rgba(241, 178, 206, 1);
  --accent-color: rgba(255, 141, 203, 1);
  --frame-color: rgba(53, 52, 48, 1);
  --main-font-color: rgba(53, 52, 48, 1);
  --menu-font-color: rgba(53, 52, 48, 1);
  --menu-button-hover-color: rgba(50, 49, 45, 0.4);
  --logo-font-color: rgba(255, 194, 230, 1);
  --logo-font-shadow-color: rgba(255, 141, 203, 1);
  --title-highlighted-font-color: rgba(53, 52, 48, 1);
  --link-font-shadow-color: rgba(255, 141, 203, 1);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url("../images/cover-image-light.png");
    --bg-color: rgba(241, 178, 206, 1);
    --accent-color: rgba(255, 141, 203, 1);
    --frame-color: rgba(53, 52, 48, 1);
    --main-font-color: rgba(53, 52, 48, 1);
    --menu-font-color: rgba(53, 52, 48, 1);
    --menu-button-hover-color: rgba(50, 49, 45, 0.4);
    --logo-font-color: rgba(255, 194, 230, 1);
    --logo-font-shadow-color: rgba(255, 141, 203, 1);
    --title-highlighted-font-color: rgba(53, 52, 48, 1);
    --link-font-shadow-color: rgba(255, 141, 203, 1);
  }
}