.page {
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.title-decor {
  color: var(--title-highlighted-font-color);
  background: var(--accent-color);
}

.sub-title {
  margin-bottom: 19px;
  color: var(--menu-font-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
}

.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

li:last-of-type .card {
  margin-bottom: 0;
}

.card-title {
  margin-bottom: 10px;
  color: var(--title-highlighted-font-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
}

.card-description {
  color: var(--main-font-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
}

.card__link {
  border: 1px solid transparent;
  text-decoration: none;
  text-shadow: 1px 1px var(--logo-font-shadow-color);
}

.card__link:hover {
  border-bottom: 1px solid var(--main-font-color);
}

.card__link:focus {
  outline: none;
}

.card__link:focus-visible {
  border: 1px solid var(--main-font-color);
}

.chapter {
  display: grid;
  grid-template-columns: 1fr;
  min-height: min-content;
  padding: 40px 0 10px;
}

.chapter:first-of-type {
  padding: 40px 0 10px;
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 12rem 1fr;
  height: 100vh;
  padding: var(--main-pading) var(--main-pading);
}

.header::before {
  content: "";
  position: absolute;
  bottom: var(--main-pading);
  left: var(--main-pading);
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--frame-color);
  border-left: 1px solid var(--frame-color);
}

.header::after {
  content: "";
  position: absolute;
  top: var(--main-pading);
  right: var(--main-pading);
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--frame-color);
  border-right: 1px solid var(--frame-color);
}

.header__decorative-sign {
  position: absolute;
  top: var(--main-pading);
  right: calc(var(--main-pading) + 10px) ;
  display: var(--header-decorative-sign-visible);
  color: var(--menu-font-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 139%;
  text-align: center;
  text-transform: uppercase;
}

.header__decorative-sign::after {
  content: "";
  display: var(--header-decorative-sign-visible);
  width: 9px;
  height: 9px;
  margin-left: 10px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background: var(--accent-color);
}

.header__theme-menu {
  display: flex;
  justify-content: right;
  align-items: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  justify-self: right;
  align-items: end;
  gap: 10px;
}

.header__theme-menu-button {
  height: 26px;
  border: 1px solid transparent;
  padding: 0 13px;
  color: var(--menu-font-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  text-transform: lowercase;
  background: transparent;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--menu-button-hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--menu-font-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--menu-font-color);
  pointer-events: none;
}

.slogan {
  color: var(--logo-font-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0px var(--logo-font-shadow-color);
}

.header__main-title {
  align-self: center;
  color: var(--title-highlighted-font-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
}

.content {
  padding: 0 var(--main-pading);
}

.about-how__title {
  display: inline;
  color: var(--title-highlighted-font-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
}

.sub-chapter {
  margin-bottom: 50px;
}

.sub-chapter:last-of-type {
  margin-bottom: 30px;
}

.sub-chapter__title {
  margin: 0 0 21px 0;
  color: var(--title-highlighted-font-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
}

.about-how-in-pictures .sub-chapter__title {
  margin: 0 0 10px 0;
}

.about-how-in-pictures__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: 10px;
}

.about-how-in-pictures-picture {
  display: block;
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
  max-block-size: 100%;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 var(--main-pading);
  padding: var(--main-pading) 0;
}

.footer::before {
  content: "";
  position: absolute;
  bottom: var(--main-pading);
  left: var(--main-pading);
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--frame-color);
  border-left: 1px solid var(--frame-color);
}

.footer::after {
  content: "";
  position: absolute;
  top: var(--main-pading);
  right: var(--main-pading);
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--frame-color);
  border-right: 1px solid var(--frame-color);
}

@media (width >= 768px) {
  :root {
    --main-pading: 20px;
  }

  .header {
    grid-template-rows: 1fr 6.1875rem 1fr;
  }

  .slogan {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__slogan {
    margin-left: -20px;
  }

  .header__main-title {
    justify-self: right;
    max-width: 50%;
  }

  .chapter {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: var(--main-pading);
    padding: 70px 0 10px;
  }

  .sub-chapter:last-of-type {
    margin-bottom: 60px;
  }

  .chapter:first-of-type {
    padding: 60px 0 10px;
  }

  .about-what__list {
    grid-column: 1 / 3;
    grid-row: 2 / auto;
  }

  .about-how-in-pictures {
    grid-column: 1 / 3;
  }

  .about-how-in-pictures .sub-chapter__title {
    margin: 30px 0 20px 0;
  }

  .about-how-in-pictures__list {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--main-pading);
  }

  .about-how-in-pictures__list-item:nth-child(1) {
    grid-column: 1 / span 2;
    grid-row: 1;
  }

  .about-how-in-pictures__list-item:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / span 2;
  }

  .about-how-in-pictures__list-item:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / span 2;
  }

  .about-how-in-pictures__list-item:last-child {
    grid-column: 2 / span 2;
    grid-row: 3;
  }
}

@media (width >= 1024px) {
  .chapter {
    grid-template-columns: calc((100% - 40px) / 3) 1fr;
  }

  .header {
    grid-template-rows: 1fr 8.125rem 1fr;
  }

  .header__theme-menu {
    justify-content: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
    align-self: self-start;
  }

  .chapter.about-what {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .about-what__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: span 3;
    grid-row: 2;
    gap: 20px;
  }
}