.page {
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 0 10px;
}

.title-decor {
  background: var(--accent-color);
  color: var(--title-highlighted-font-color);
}

.sub-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--menu-font-color);
  margin-bottom: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

li:last-of-type .card {
  margin-bottom: 0;
}

.card-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--title-highlighted-font-color);
}

.card-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: var(--main-font-color);
}

.card__link {
  border: 1px solid transparent;
  text-decoration: none;
  text-shadow: 1px 1px var(--logo-font-shadow-color);
}

.card__link:hover {
  border-bottom: 1px solid var(--main-font-color);
}

.card__link:focus {
  outline: none;
}

.card__link:focus-visible {
  border: 1px solid var(--main-font-color);
}

.chapter {
  min-height: min-content;
  display: grid;
  grid-template-columns: 1fr;
  padding: 40px 0 10px;
}

.chapter:first-of-type {
  padding: 40px 0 10px;
}

.header {
  height: calc(100vh - 20px);
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 29.6% 1fr;
  margin: 10px 0;
}

.header::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.header__decorative-sign {
  position: absolute;
  top: 0px;
  right: 9px;
  color: var(--menu-font-color);
  line-height: 139%;
  text-align: center;
  text-transform: uppercase;
}

.header__decorative-sign::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-left: 10px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background: var(--accent-color);
}

.header__theme-menu {
  display: flex;
  justify-content: right;
  align-items: center;
}

.header__theme-menu-list {
  justify-self: right;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
}

.header__theme-menu-button {
  padding: 0 13px;
  height: 26px;
  text-transform: lowercase;
  background: transparent;
  border: 1px solid transparent;
  color: var(--accent-color);
  line-height: 100%;
  text-align: center;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--menu-button-hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.slogan {
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  color: var(--logo-font-color);
  text-shadow: 4px 4px 0px var(--logo-font-shadow-color);
}

.header__main-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--title-highlighted-font-color);
  align-self: center;
  white-space: pre-line;
}

.about-how__title {
  display: inline;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: var(--title-highlighted-font-color);
}

.sub-chapter {
  margin-bottom: 50px;
}

.sub-chapter:last-of-type {
  margin-bottom: 30px;
}

.sub-chapter__title {
  margin: 0 0 20px 0;
}

.about-how-in-pictures .sub-chapter__title {
  margin: 0 0 10px 0;
}

.about-how-in-pictures__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: 10px;
}

.about-how-in-pictures-picture {
  display: block;
  inline-size: 100%;
}

.footer {
  padding: 10px 0;
  display: flex;
  height: 100vh;
  position: relative;
  justify-content: center;
  align-items: center;
}

.footer::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.footer::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 0;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}